<html>
	<head>
    	<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
    	<script type="text/javascript">			
			function search()
			{
				searchWithIds(<%= @prominentIds.to_json.html_safe %>, <%= @advocacyIds.to_json.html_safe %>);
			}
			function homeTopVideos() {
			   getTopVideos(<%= @prominentIds.to_json.html_safe %>, <%= @advocacyIds.to_json.html_safe %>);
			}
			function searchLocal() {
				searchlocal(<%= @localIds.to_json.html_safe %>);
			}
    	</script>
	</head>
	<body onload="initSearch();" style="padding:0px">
		<input type="hidden" id="landingPage" value="true"/>
		<div class="header">
			<div id="headerContents">
				<div class="logo">
					<a class="title", href="home">NewsTube</a>
					<span class="tagLine">a better news video search</span>
				</div>
				
				<form class="queryForm" action="javascript:search()">
					<input id="query" class="search" type="text" placeholder="Search" />
					</select>
					<button class="btn">Go!</button>
					<br>
					<a href="/localchannels">Or search based on location</a> 
					<br>
					<div id="related"></div>
				</form>
				
				<div id="topNewsVideos" class = "headerTopVideos">
				<div class="description">Top News Videos:</div><br>
					<h4>Loading videos...</h4><img style="margin-top:30px" src="assets/fancybox_loading.gif"/>
				</div>
				
				<form class="headerTopVideos">
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid1" checked />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid2" />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid3" />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid4" />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid5" />
				</form>
			</div>
		</div>
	
		<div class="categories">
			<div class="category" onclick="toggleCategory('prominent')">MEDIA SOURCES</div>
			<div id="prominentTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos from Prominent International News Sites</div>
			</div>
			<div id="prominentWrapper" class="videoListWrapper">
				<div id="prominent" class="videoList">
				</div>
			</div>

			

			<div class="category" onclick="toggleCategory('documentary')">DOCUMENTARY</div>
			<div id="documentaryTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Documentary video</div>
			</div>
			<div id="documentaryWrapper" class="videoListWrapper">
				<div id="documentary" class="videoList">
				</div>
			</div>

			<div class="category" onclick="toggleCategory('twitter')">TWITTER</div>
			<div id="twitterTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos that are trending on Twitter</div>
			</div>
			<div id="twitterWrapper" class="videoListWrapper">
				<div id="twitter" class="videoList">
				</div>
				<div id="hiddentwitter" style="display:none"></div>
			</div>

			<div class="category" onclick="toggleCategory('advocacy')">ADVOCACY</div>
			<div id="advocacyTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos made by advocacy groups</div>
			</div>
			<div id="advocacyWrapper" class="videoListWrapper">
				<div id="advocacy" class="videoList">
				</div>
			</div>
			
			<div class="category" onclick="toggleCategory('live')">LIVE BROADCASTS</div>
			<div id="liveTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Currently streaming live broadcasts</div>
			</div>
			<div id="liveWrapper" class="videoListWrapper">
				<div id="live" class="videoList">
				</div>
			</div>
			

		</div>
	</body>
</html>